/*#DrinkTitle{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-left:auto;
	margin-right:auto;
	color:#7D0A1C;
}

#MapAndFriends{
	height:331px;
	width:562px;
	margin-left:auto;
	margin-right:auto;
	border: solid 1px #7D0A1C;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#DrinkMap{
	height: 330px;
	width: 560px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
*/
#tags{
	border: solid 1px #7D0A1C;
	-moz-border-radius: 15px;
	border-radius: 15px;
}